.vs/
.DS_Store
Valeting.API/Valeting.Repository/bin/
Valeting.API/Valeting.Repository/obj/
Valeting.API/Valeting.Repository/.DS_Store
Valeting.API/Valeting.Core/bin/
Valeting.API/Valeting.Core/obj/
Valeting.API/Valeting/bin/
Valeting.API/Valeting/obj/
Valeting.API/Valeting.Common/bin/
Valeting.API/Valeting.Common/obj/
Valeting.API/Valeting.UnitTest/bin/
Valeting.API/Valeting.UnitTest/obj/
Valeting.API/Valeting.UnitTest/coverage.xml
Valeting.API/Valeting.UnitTest/TestResults