
.DS_Store
Valeting.API/.DS_Store
Valeting.API/.vs/Valeting.API/xs/
Valeting.API/Valeting.Business/bin/
Valeting.API/Valeting.Business/obj/
Valeting.API/Valeting.Repositories/bin/
Valeting.API/Valeting.Repositories/obj/
Valeting.API/Valeting.Repositories/.DS_Store
Valeting.API/Valeting.Services/bin/
Valeting.API/Valeting.Services/obj/
Valeting.API/Valeting/bin/
Valeting.API/Valeting/obj/
Valeting.API/Valeting.Common/bin/
Valeting.API/Valeting.Common/obj/