.vscode
.vs
.DS_Store
Valeting.Repository/bin/
Valeting.Repository/obj/
Valeting.Repository/.DS_Store
Valeting.Core/bin/
Valeting.Core/obj/
Valeting.API/bin/
Valeting.API/obj/
Valeting.Common/bin/
Valeting.Common/obj/
Valeting.UnitTest/bin/
Valeting.UnitTest/obj/
Valeting.UnitTest/coverage.xml
Valeting.UnitTest/TestResults
