name: valeting

services:
  api:
    build:
        context: .
        dockerfile: Api/Dockerfile
    ports:
        - "8080:8080"
    container_name: api
    depends_on: 
        sqlserver:
          condition: service_healthy
    environment: 
        - ConnectionStrings__ValetingConnection=Server=sqlserver,1433;Database=Valeting;User ID=sa;Password=${SA_PASSWORD};Integrated Security=False;Trusted_Connection=False;TrustServerCertificate=True;

volumes:
  sqlserver_data:
