name: valeting

services:
  api:
    build:
        context: .
        dockerfile: Api/Dockerfile
    ports:
        - "8080:8080"
    container_name: api
    depends_on: 
        sqlserver:
          condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SA_PASSWORD=${SA_PASSWORD}
      - JWT_KEY=${JWT_KEY}

volumes:
  sqlserver_data:
