@page
@model DJValeting.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1><br/>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div>
                Email:
                <br /><input asp-for="User.Username" type="email" />
            </div><br />
            <div>
                Password:
                <br /><input asp-for="User.Password" type="password" />
            </div><br/>
            <input type="submit" class="btn btn-primary" value="Login" />
        </form>
    </div>
</div>