@page
@model DJValeting.Pages.Booking.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div>
                Name:
                <br /><input asp-for="Booking.Name" required />
            </div><br />
            <div>
                Booking Date:
                <br /><input asp-for="Booking.BookingDate" type="datetime-local" required />
            </div><br />
            <div>
                Flexibility:
                <br />@Html.DropDownList("FlexibilityId", new SelectList(Model.Flexibility, "Id", "Description"))
            </div><br />
            <div>
                Vehicle Size:
                <br />@Html.DropDownList("VehicleSizeId", new SelectList(Model.VehicleSize, "Id", "Description"))
            </div><br />
            <div>
                Contact Number:
                <br /><input asp-for="Booking.ContactNumber" type="number" required />
            </div><br />
            <div>
                Email:
                <br /><input asp-for="Booking.Email" type="email" required />
            </div><br />
            <input type="submit" class="btn btn-primary" value="Create" />
        </form>
    </div>
</div>