@page
@model DJValeting.Pages.Booking.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div>
                <input asp-for="Booking.Id" hidden />
            </div>
            <div>
                <input asp-for="Booking.Approved" hidden />
            </div>
            <div>
                Name:
                <input asp-for="Booking.Name" />
            </div><br />
            <div>
                Booking Date:
                <input asp-for="Booking.BookingDate" />
            </div><br />
            <div>
                Flexibility:
                @Html.DropDownList("FlexibilityId", new SelectList(Model.Flexibility, "Id", "Description", Model.Booking.Flexibility.Id))
            </div><br />
            <div>
                Vehicle Size:
                @Html.DropDownList("VehicleSizeId", new SelectList(Model.VehicleSize, "Id", "Description", Model.Booking.VehicleSize.Id))
            </div><br />
            <div>
                Contact Number:
                <input asp-for="Booking.ContactNumber" />
            </div><br />
            <div>
                Email:
                <input asp-for="Booking.Email" />
            </div><br />
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>