name: Merge to Main

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - ReadMe.md
  
permissions: write-all

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build & Test
        uses: tmntb/valeting-api/.github/actions/build-test@main

  swagger-gen:
    name: Generate swagger
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: tmntb/valeting-api/.github/actions/swagger-update@main
        with:
          pat-bot-token: ${{ secrets.PAT_BOT_TOKEN }}
          pat-token: ${{ secrets.PAT_TOKEN }} 
          swagger-path: "swagger/swagger.json"
          target-dll-path: "Api/bin/Release/net9.0/Api.dll"
          swagger-version: "v1"
          target-branch: "swagger-update"
    
  semantic-release:
    name: Create release
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Semantic release
        id: semantic_release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/commit-analyzer
            @semantic-release/release-notes-generator
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get latest tag version
        id: get_version
        run: echo "VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/valeting-api:${{ steps.get_version.outputs.VERSION }}"
          echo "Building image $IMAGE"
          docker build -f Api/Dockerfile -t $IMAGE .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/valeting-api:${{ steps.get_version.outputs.VERSION }}
