name: Merge to Main
on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: ./github/actions/build-test

  swagger:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: ./github/actions/swagger-update
        with:
          swagger-path: "wwwroot/swagger/v1/swagger.json"
          target-branch: "swagger-update"
