name: Merge to Main

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - ReadMe.md

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build & Test
        uses: tmntb/valeting-api/.github/actions/build-test@main

  swagger-gen:
    name: Generate swagger
    runs-on: ubuntu-latest
    needs: build-test
    permissions: write-all
    steps:
      - uses: tmntb/valeting-api/.github/actions/swagger-update@main
        with:
          pat-bot-token: ${{ secrets.PAT_BOT_TOKEN }}
          pat-token: ${{ secrets.PAT_TOKEN }} 
          swagger-path: "swagger/swagger.json"
          target-dll-path: " Valeting.API/bin/Release/net9.0/Valeting.API.dll"
          swagger-version: "v1"
          target-branch: "swagger-update"
    
  semantic-release:
    name: Create new release
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/commit-analyzer
            @semantic-release/release-notes-generator
            @semantic-release/github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker-push:
    runs-on: ubuntu-latest
    needs: semantic-release
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build Docker image
        run: |
          VERSION=${{ needs.semantic-release.outputs.new_release_version }}
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/valeting-api:${VERSION}"

          echo "Building image $IMAGE"
          docker build -t $IMAGE .

      - name: Push Docker image
        run: |
          VERSION=${{ needs.semantic-release.outputs.new_release_version }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/valeting-api:${VERSION}
