name: Pull-Request

on:
  pull_request:
    paths-ignore:
      - ReadMe.md

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build & Test
        uses: tmntb/valeting-api/.github/actions/build-test@feat/github_workflow

  swagger-gen:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - uses: tmntb/valeting-api/.github/actions/swagger-update@feat/github_workflow
        with:
          swagger-path: "swagger/swagger.json"
          target-branch: "swagger-update"