name: Pull-Request
on:
  pull_request:
    paths-ignore:
        - ReadMe.md

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build & Test
        uses: ./github/actions/build-test
